* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    -webkit-user-drag: none;
}

body {
    background-color: rgb(212, 212, 212);
    overflow: hidden;
}

:root {
    --nav-bg: #FFFFFF;
    --nav-text: #082050;
    --nav-blue: #1478F2;
    --nav-border: #E8F2FC;
    --nav-active: #1478F2;
    --font-family: "Plus Jakarta Sans", sans-serif;
}

/* nav-bar */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg);
    height: 72px;
    padding: 0 60px;
}

.nav-bar .logo img {
    cursor: pointer;
    height: 90px;
}

.nav-links {
    display: flex;
    justify-content: center;
    float: center;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: var(--nav-text);
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 5px 0;
    margin: 20px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.nav-links li a:hover {
    color: var(--nav-active);
}

.nav-links li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--nav-blue);
    transform: scale(0);
    transition: all .3s ease;
}

.nav-links li a:hover::after {
    transform: scaleX(1);
}

/* .download-btn {
    display: flex;
    align-items: center;
    height: 45px;
    margin-left: 50px;
    padding: 15px 15px;
    background-color: var(--nav-active);
    border-radius: 15px;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.download-btn:hover {
    background-color: #1478f2d0;
}

.download-btn img {
    height: 30px;

}

.download-btn a {
    color: var(--nav-bg);
    font-size: 15px;
    font-weight: 600;
    font-family: var(--font-family);
    padding: 50px 0;
    text-decoration: none;
} */

.download-btn .windows-download-btn {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 15px 24px;
    border-radius: 18px;
    background-color: #1478F2;

    color: #ffffff;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;

    transition: background-color 0.2s ease, transform 0.1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.download-btn .windows-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.download-btn .windows-download-btn:hover {
    background-color: #1478f2d3;
}

/* Active click effect */
.download-btn .windows-download-btn:active {
    transform: scale(0.98);
}

/* hero section */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 540px;
    background-image: url(images/backgrounds/hero-background-4k.png);
    background-repeat: no-repeat;
    overflow: hidden;

    padding: 0 100px;
}

/* hero content */
.content {
    width: 50%;
}

.content .hero-span {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    font-family: var(--font-family);
    background-color: #CFEBFE;
    color: #0944F9;
    border-radius: 50px;
    letter-spacing: 1.2px;
    line-height: 12px;
    margin: 8px 0;
    padding: 8px;
}

.hero-heading h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: -1.5px;
    font-family: var(--font-family);
    color: #08205C;
    padding: 5px;
}

.hero-heading p {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: #42628F;
    font-family: var(--font-family);
    padding: 5px 100px 5px 5px;
}

.windows-download-btn {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 20px 28px;
    margin: 15px 15px 5px 5px;
    border-radius: 15px;
    background-color: #1478F2;

    color: #ffffff;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;

    transition: all 0.2s ease, transform 0.1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.windows-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.hero-btn .btn-text {
    font-family: var(--font-family);
    text-shadow: 0 8px 18px rgba(20, 120, 242, 0.22);
}

.windows-download-btn:hover {
    background-color: #1478f2d3;
}

/* Active click effect */
.windows-download-btn:active {
    transform: scale(0.98);
}

.content .hero-info {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    font-family: var(--font-family);
    color: #5277A5;
    padding: 0 5px 0 5px;
}





/* screenshot */
.screenshot {
    display: flex;
    width: 50%;
    object-fit: cover;
    justify-content: center;
    margin: 0 auto;

    perspective: 1500px;
}

.screenshot img {
    width: 100%;
    cursor: pointer;
    transition: transform .7s ease;
}

.screenshot img:hover {
    transform: rotateY(-30deg) rotateX(9deg);
}